<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.james.calculator">

    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        tools:replace="android:icon"
        android:allowBackup="true"
        android:icon="@mipmap/calc512"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.james.calculator.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.james.calculator.About"
            android:label="About"
            android:parentActivityName="com.james.calculator.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.james.calculator.MainActivity" />
        </activity>
        <activity
            android:name="com.james.calculator.FirstTime"
            android:label="Tutorial"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>
        <activity
            android:name="com.james.calculator.PrefsSettings"
            android:label="Preferences"
            android:parentActivityName="com.james.calculator.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.james.calculator.MainActivity" />
        </activity>
    </application>

</manifest>
